In [14]:
import pandas as pd

In [15]:
df = pd.read_csv('billboard.csv')
df.head()

,url,week_id,week_position,song,performer,song_id,instance,previous_week_position,peak_position,weeks_on_chart
0,http://www.billboard.com/charts/hot-100/1965-0...,7/17/1965,34,Don't Just Stand There,Patty Duke,Don't Just Stand TherePatty Duke,1,45.0,34,4
1,http://www.billboard.com/charts/hot-100/1965-0...,7/24/1965,22,Don't Just Stand There,Patty Duke,Don't Just Stand TherePatty Duke,1,34.0,22,5
2,http://www.billboard.com/charts/hot-100/1965-0...,7/31/1965,14,Don't Just Stand There,Patty Duke,Don't Just Stand TherePatty Duke,1,22.0,14,6
3,http://www.billboard.com/charts/hot-100/1965-0...,8/7/1965,10,Don't Just Stand There,Patty Duke,Don't Just Stand TherePatty Duke,1,14.0,10,7
4,http://www.billboard.com/charts/hot-100/1965-0...,8/14/1965,8,Don't Just Stand There,Patty Duke,Don't Just Stand TherePatty Duke,1,10.0,8,8

In [16]:
df.drop(columns=['url', 'song_id'], inplace=True)

In [17]:
df['song_id'] = df['song'].str.cat(df['performer'], sep=' - ')

In [18]:
# Only keep entries within the last 10 years, the dates are stored in the week_id column
df['week_id'] = pd.to_datetime(df['week_id'])
df = df[df['week_id'] > '2000-01-01']

In [19]:
df.shape[0]

111700

In [20]:
df.to_csv('billboard_cleaned.csv', index=False)